<div class="form-container container bg-dark bg-gradient">
    <h2 class="text-white">Login</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <label for="gmail">Gmail</label>
      <input
        type="email"
        id="gmail"
        formControlName="gmail"
        placeholder="Enter your Gmail"
        required
      />

      <label for="pwd">Password</label>
      <input
        type="password"
        id="pwd"
        formControlName="pwd"
        placeholder="Enter your password"
        required
      />

      <button type="submit">Login</button>
      <hr>
      <!-- <button type="button" class="btn btn-info" id="register">Sign in</button> -->
      <button class="my-3" [routerLink]="['/sign-in']">Sign In</button>
    </form>
  </div>
