<div class="container bg-dark bg-gradient">
  <h2>Sign Up</h2>
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <label for="name">Username:</label>
    <input type="text" id="name" formControlName="name" placeholder="username" required />

    <br /><br />

    <label for="gmail">Email:</label>
    <input type="gmail" id="gmail" formControlName="gmail" placeholder="yourmail@gmail.com" required />

    <br /><br />

    <label for="pwd">Password:</label>
    <input type="password" id="pwd" formControlName="pwd" required />

    <br /><br />

    <label for="pwd2">Confirm Password:</label>
    <input type="password" id="pwd2" required />

    <br /><br />

    
    <button class="my-3" type="submit">SEND</button>
  </form>
  <button class="my-3 mx-3" [routerLink]="['/']">HOME</button>
</div>
